In [3]:
import pandas as pd
import numpy as np # linear algebra
import glob
import cv2

In [4]:
df = pd.read_csv("labels.csv")

In [5]:
df.head()

                                 id             breed
0  000bec180eb18c7604dcecc8fe0dba07       boston_bull
1  001513dfcb2ffafc82cccf4d8bbaba97             dingo
2  001cdf01b096e06d78e9e5112d419397          pekinese
3  00214f311d5d2247d5dfe4fe24b2303d          bluetick
4  0021f9ceb3235effd7fcde7f7538ed62  golden_retriever

In [6]:
unique_breeds = df.breed.unique()
len(unique_breeds)

120

In [7]:
gr_labels = df.groupby("breed").count()
gr_labels = gr_labels.rename(columns = {"id" : "count"})
gr_labels = gr_labels.sort_values("count", ascending=False)
gr_labels.head()

                      count
breed
scottish_deerhound      126
maltese_dog             117
afghan_hound            116
entlebucher             115
bernese_mountain_dog    114

In [8]:
sample = df.loc[df['breed'].isin(["maltese_dog","afghan_hound"])]

In [9]:

files = []
for filename in glob.glob('/home/noah/Documents/noah_data/image_classify/processed/*.jpg'):
    files.append(filename.split("/")[-2:])

In [10]:
ids = []
imgs= []
for file_i, file in enumerate(files):
    filename = file[0]+'/'+file[1]
    img = cv2.imread(filename)
    ids.append(file[1])
    imgs.append(img)

In [17]:
d = {"id":ids,"img":imgs}
df= pd.DataFrame(d)
df.assign(ln_A = lambda x: id[:-4]

AttributeError: 'Series' object has no attribute 'strip'

In [16]:
df["id"]

0        c6f47117753a8f83c93ad62369c7266b.jpg
1        a628532fb55e1d2bdf8a3958df74de35.jpg
2        41295c36303043fc587e791b14ef2272.jpg
3        4193da9e92c9a34fbf6554cf42e4d4b6.jpg
4        d1e3d07958a55a2818cffbd52bc090ca.jpg
5        d5d856e5a6b16e448dcbdd057e280e62.jpg
6        e224c29118a187dccba77b4aaa355767.jpg
7        385dfd666f34212de5fee77893fad23c.jpg
8        ce31f66a9991f1f2bb45b84b5a7bd6e7.jpg
9        d96c7a1efc7455d533bb2beb4da27896.jpg
10       ed5920d873da0891d86d9f3a25f2c2fa.jpg
11       995b2eea7f725108196ad726553ceb41.jpg
12       1089c1e5058ffff12e1cca2e85205ed8.jpg
13       eccb17b497007b28217bda18db73cce1.jpg
14       64edd302740d9388bcf6a81c2b2ed31b.jpg
15       c5e50854bf07fc3014c42c6a94a6af51.jpg
16       1a02f01110c17bfde79e92cd0a7b4e64.jpg
17       5c4a15179b8b243d0ebcdd4025d0b6d1.jpg
18       87dfb129c12c369824f5425980158386.jpg
19       25526168121fe509d4b323dcb6e23a7b.jpg
20       cdffff7690054e91eab8e7237df12406.jpg
21       f7a44b90a798d72d636b7f1003c8c3e4.jpg
22       79e176c35318c7cdb2db59366726de77.jpg
23       73a99d543dd8a726e63812b396a35ef5.jpg
24       e1466949f06f43556943189409054b1c.jpg
25       157e9d7fb607da0ff1d324933b9cbddf.jpg
26       b2bab263aaa473785d7c88eec236acd8.jpg
27       f7933e6c90808d5bbbade7bde7cce6dd.jpg
28       486ae1ca61f84a930a58ece5d8c8d95e.jpg
29       b71ba77f52b28c5171c20415a25dd6b9.jpg
                         ...
10192    ea12edc949e2572580fa237d3daea938.jpg
10193    e81ff379277f5023333efed3beda7f64.jpg
10194    1321d074e879267699d42fdca77b4004.jpg
10195    f0e2319cf6cf322ea6f5849eb4102fac.jpg
10196    95f5d4bb20b7d03dd1c3577586fa460d.jpg
10197    0d303784e6740e5de249e1f2078a7b4b.jpg
10198    16acaa39e4fe4edbc2becbeb85e8ccbe.jpg
10199    df0b926ab57cef7c005b47cd2dc3f44d.jpg
10200    00fda6ecca54efbac26e907be4b0b78b.jpg
10201    be1a5fa3080c11a75880d3c57bc634c1.jpg
10202    79c3812790eb28056231448106959e8d.jpg
10203    8b27fd53a34c667b41ec5cf13be22de6.jpg
10204    56c0fcf7ad00c78e54cd592a80fbd433.jpg
10205    3170c7b0f1c78955cfcc94c14182c174.jpg
10206    18b631157527e14b007e570175c921a3.jpg
10207    66b7cfc0b7ea792fe0d95cfe4409cc04.jpg
10208    a63484a418084bbfd3158505b0bf6f9e.jpg
10209    4b310ee3481bd8c44bac0cb7b1ee103a.jpg
10210    6b5bc8cfaa94a5e025210255b099034c.jpg
10211    2125684ed729de7ba10cc02ed8f75179.jpg
10212    abc4dec9183b686aceb15f4de7c99c7d.jpg
10213    40fc221655af1f9ea340c3105a5a250b.jpg
10214    d4e186bdca24be150fa257283f5fa5fb.jpg
10215    e67eb5ac576a272a62033127bf4e6570.jpg
10216    30298037be3bcc4f1c2798863d8ad579.jpg
10217    ebb2555fb23a8fe20c44050380154456.jpg
10218    4ba13e246563b8393a4adf62ac8667ae.jpg
10219    fad30cde8ff696cba83278a55a8de87b.jpg
10220    dabb3c1034978cadfabf60eadcf08818.jpg
10221    d120834472b4ef2520e5860b0f3b0500.jpg
Name: id, Length: 10222, dtype: object