In [20]:
import pandas as pd
import numpy as np 
import glob
import cv2

In [21]:
df = pd.read_csv("labels.csv")

In [22]:
df.head()

                                 id             breed
0  000bec180eb18c7604dcecc8fe0dba07       boston_bull
1  001513dfcb2ffafc82cccf4d8bbaba97             dingo
2  001cdf01b096e06d78e9e5112d419397          pekinese
3  00214f311d5d2247d5dfe4fe24b2303d          bluetick
4  0021f9ceb3235effd7fcde7f7538ed62  golden_retriever

In [23]:
unique_breeds = df.breed.unique()
len(unique_breeds)

120

In [24]:
gr_labels = df.groupby("breed").count()
gr_labels = gr_labels.rename(columns = {"id" : "count"})
gr_labels = gr_labels.sort_values("count", ascending=False)
gr_labels.head()

                      count
breed
scottish_deerhound      126
maltese_dog             117
afghan_hound            116
entlebucher             115
bernese_mountain_dog    114

In [25]:
sample = df.loc[df['breed'].isin(["maltese_dog","afghan_hound"])]
sample['id'] = sample['id'] + ".jpg"
sample.to_csv("sample.csv" ,index = False)

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [26]:

# files = []
# for filename in glob.glob('/home/noah/Documents/noah_data/image_classify/processed/*.jpg'):
#     files.append(filename.split("/")[-2:])